@{
    ViewData["Title"] = "Home Page";
    var today = DateTime.Now.Date;
}

@model List<BirthdayAT.Models.Friend>

<h1>Amigos de aniversário hoje:</h1>
<ul>
    @{
        foreach (var friend in Model)
        {
            if (friend.Birthday.Date == today) 
            {
                <li>
                    @friend.FirstName
                </li>
            }
            
        }
    }
</ul>

<h1>Aniversários:</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Nome</td>
            <td>Aniversário</td>
        </tr>
    </thead>
    @{
        foreach (var friend in Model)
        {
            <tr>
                <td>
                    @friend.FirstName
                </td>
                <td>
                    @friend.Birthday.ToString()
                </td>
            </tr>
        }
    }
</table>

<button type="button" onclick="location.href='@Url.Action("Edit","Home")'">Gerenciar Aniversários</button>