@model Friend

<h1>Adicionar Amigo:</h1>
<form method="post" action="/Friend/EditFriend/@Model.Id">
    @Html.AntiForgeryToken()
    <label>Nome</label>
    <input type="text" name="FirstName" value="@Model.FirstName"/>
    <label>Sobrenome</label>
    <input type="text" name="LastName" value="@Model.LastName" />
    <label>Aniversário</label>
    <input type="date" name="Birthday" value="@Model.Birthday" />

    <input type="submit" value="Enviar" />
</form>